extends ../layout.pug

block container
  section
    figure 
      img(src="assets/images/illustration-article.svg" alt="illustration-article")
    article
      p.highlight
        span Learning
      | 
      p.tag Published 21 Dec 2023
      | 
      h1 HTML & CSS foundations
      |
      p.article These languages are the backbone of every website, defining structure, content, and presentation.
      aside
        div.profile
          img(src="assets/images/image-avatar.webp" alt="image-avatar")
        h5 Greg Hooper
      