extends ../layout.pug

block info
  meta(property="og:title", content="Blog Preview card")
  meta(property="og:description", content="A simple blog Preview card")
  meta(property="og:image", content="assets/images/illustration-article.svg")
  //- meta(property='og:url', content='URL to Your Page')

  //- Optional: Additional meta tags for better presentation
  
  meta(property="og:site_name", content="Blog Preview card")
  meta(property="og:type", content="website")

block container
  section
    figure 
      img(src="assets/images/illustration-article.svg" alt="illustration-article")
    article
      p.highlight
        span Learning
      | 
      p.tag Published 21 Dec 2023
      | 
      h1 HTML & CSS foundations
      |
      p.article These languages are the backbone of every website, defining structure, content, and presentation.
      aside
        div.profile
          img(src="assets/images/image-avatar.webp" alt="image-avatar")
        h5 Greg Hooper
      